*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif, verdana;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

p{
  color: rgba(0, 0, 0, 0.8);
}


.fa{
  font-size: 40px;
}



.mfa{
  font-size: 20px;
}

marquee{
    color:red;
    font-weight: bold;
}

/* Navbar container */

#logo{
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 20px;
}



.nav-link{
  display: inline;
}

.navbar {
  
    overflow: hidden;
    background-color: #054C6A ;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: rgb(250, 214, 114);
  }
  .dropdown-content:hover{
      color: #000;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #054C6A;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar .icon{
      display: none;
  }
  @media screen and (max-width: 916px){
      .navbar a:not(:first-child), .dropdown .dropbtn {
          display: none; 
      }

      .navbar a.icon{
          float: right;
          display: block;
      }

  }

  @media screen and (max-width: 916px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  /* ------ Slider ------- */
#slider{
  overflow: hidden;
  width: 100vw;
  height: 100vh;

}

#slider-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  animation: slider 20s infinite;
}


.slider-img{
  
  width: 100vw;
  height: 100vh;
}


/*======== About Section ========*/
#about-container{
  padding: .5em;
  width: 100%;
  height: fit-content;
  background: lightgray;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-content{

  margin: 80px 80px;
  padding: 1em 3.5em 3.5em 3.5em;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
 
}

#about-content > h2{
  
  margin-bottom: .5em;
  padding-top: 1em;
}

#about-content p{
  padding-bottom: 1em;
  align-items: center;
}

.border-btn{
    width: 116px;
    margin-top: .5em;
    border-radius: 5px;
    border: 2px solid #054C6A;
    padding: 10px 14px;
    color: #054C6A;
}

.border-btn:hover{
  background-color: lightgray;
}

/* ===== Product Section ====== */

#product-container{
  padding: .5em .5em 3em .5em;
  width: 100%;
  height: fit-content;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

#product-main-container{
  background-color: lightgray;
  margin: 0em 9em;
  text-align: center;
}


#product-main-container h2{ 
  margin-bottom: .5em;
}


#process-card-row{
  margin-bottom: 3em;
}

.product-card-column{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.product-card{
  margin: 2em;
  padding: 1em;
  background: #fdfdfd;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

/*==== for Columns Responsiveness===*/
@media screen and (max-width: 916px) {
  .product-card-column {
    width: 100%;
    display: block;
    margin-bottom: -10px;
  }
}


/*======= Process Section =======*/

#process-container{
  width: 100%;
  margin: 2em 0em;
  padding: 1em;
  display: flex;
  height: fit-content;
  flex-direction: column;  
  align-items: center;
}

/*
#process-main-container{
  display: flex;
  flex-direction: column;
  padding: 1em;

}
*/

#process-container h2{
  padding: 40px;
  text-align: center;
}

.process-card-row h3{
  margin: 10px 0px 5px 0px;
}

.process-card-row p{
  color: rgba(255, 255, 255, 0.8);
}

.process-card-row{
  display: flex;
  justify-content: center;
}

.process-card-column{
  
  /* float: left;
  width: 31%;*/
  width: 25%;
  margin: 1em; 
  position: relative;
}

.process-card{
  display: flex;
  flex-direction: column;
  color: #fdfdfd;
  text-align: center;
  border-radius: 5px;
  background-color: #054C6A;
  padding: 2.5em 1em 1.5em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.count-circle{
  position: absolute;
  left: 45%;
  top: -25px;
  color: #000;
  font-size: 18px;
  border-radius: 49%;
  padding: 12px 20px 12px 20px;
  background-color: lightgray;
  font-weight: 600;
  border: 2px solid #2e2e2e;
}

@media screen and (max-width: 916px) {
  .process-card-row {
    width: 100%;
    display: inline;
  }

  .process-card-column{
    width: 100%;
  }

  .process-card{
    margin-bottom: 50px;
  }
}

/*========= Choose us Section ==========*/


#choose-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#choose-main-container h2{
  text-align: center;
}

.choose-container-row{
  width: 70%;
  display: flex;
  margin: 3em 0em; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.choose-container-column p{
  margin: .5em 0 3em 0;
}

.choose-container-column h3{
  margin-top: 1em;
}

.choose-card{
  padding: 3em;
  text-align: center;
  background-color: lightgray;
  border: 1px solid rgb(163, 163, 163);
}

@media screen and (max-width: 916px) {
  .choose-container-row {
    width: 100%;
    flex-direction: column;
  }
}

/*======= Testimonials ==========*/

#testimonial{
  color: #fdfdfd;
  margin: 2em 0;
  padding: 4em;
  background-color: #054C6A;
}

#testimonial h2{
  text-align: center;
  margin-bottom: 2em;
}

.testimonial-row{
  display: flex;
  align-items: center;
}

.testimonial-col{
  padding: 2em;
  margin: 0 1em;
  background-color: lightgray;

}

.testimonial-name{
  float: right;
  color: #000;
}

@media screen and (max-width: 916px) {
  .testimonial-row {
    width: 100%;
    flex-direction: column;
  }

  .testimonial-col{
    margin-bottom: 2em;
  }
}

/*=========== Partner section ===========*/

#partner{
  margin: 3em 0;
}

#partner h2{
  text-align: center;
}


/*============ Contact section ============*/

#contact{
  margin: 3em 0;
  padding: 3em;
  background-color: lightgray;
}

.contact-top{
  text-align: center;
}

.contact-row{
  display: flex;
  justify-content:space-evenly;
  
}

.contact-col{
  width: 20%;
  margin: 2em;
  text-align: center;

}

.contact-row h4{
  margin: 1.5em 0 .5em 0;
}

.contact-col a{
  padding-top: 1em;
  text-decoration: underline;
}

.contact-col p {
  margin-bottom: 1em;
}